<!DOCTYPE html>
<html>
<head>
    <title>Wath video togetger</title>
    <script src="/jquery-2.0.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <video width="100%" height="500" id="video" controls>
        <source src="file:///Users/chex/soul/videoview/videos/1.mp4" type="video/mp4">
        <!--<source src="http://chex.soul.li/videos/GameOfTrones.s3e10.ogv" type='video/ogg; codecs="theora, vorbis"'>-->
        <!--<source src="http://chex.soul.li/videos/GameOfTrones.s3e10.avi" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>-->

    </video>

    <a href="#" id="play_link">Play</a><br>
    <a href="#" id="pause_link">Pause</a><br>
    <a href="#" id="restart_link">Restart</a><br>

    <script src="/control.js"></script>
</body>
</html>